<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js</title>
    <style>
        body {
            color: rgb(0, 153, 255);
            background-color: rgb(251, 255, 0);
        }
    </style>
</head>
<body>
    <h1>About page !</h1>
    <br>
    <hr>
    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur harum et voluptas nam vero officiis cumque! Tempora facilis, possimus amet officiis et esse totam mollitia cumque, nobis, sequi nihil quos.
    </p>
    <button>
        <a href="/"> Back home page</a>
    </button>
</body>
</html>