<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js</title>
    <style>
        body {
            color: rgb(227, 227, 235);
            background-color: rgb(43, 30, 30);
        }
    </style>
</head>
<body>
    <h1>Hell world</h1>
    <br>
    <p>I study Node.js</p>
    <br>
    <hr>
    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur harum et voluptas nam vero officiis cumque! Tempora facilis, possimus amet officiis et esse totam mollitia cumque, nobis, sequi nihil quos.
    </p>
    <button>
        <a href="/about"> To about page</a>
    </button>
</body>
</html>