<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js</title>
    <style>
        body {
            color: rgb(0, 0, 252);
            background-color: rgb(249, 253, 190);
        }
    </style>
</head>
<body>
    <h1>page not found</h1>
    <h1>404 page</h1>

    <button>
        <a href="/"> Back home page</a>
    </button>
</body>
</html>